/* *********************************************
VARIABLES
************************** */

:root {
    --mainFontFamily: 'Rubik', sans-serif;

}

body.dark {
    --mainBgColor: #3f3b75;
    --mainTextColor: #fff;
    --primaryColor: #eeca2b; 
    --copyNavigationColor: #9c9ab3;
    --secondaryColor: #FF4C60;
    --aboutBoxBGColor: #302f4e;
    --progressBarBGColor: #f1f1f1;
    --mainNAVBgColor: #2d2a58;
    --progressBarOne: rgb(189, 209, 10);
    --progressBarTwo: rgb(209, 10, 193);
    --progressBarThree:  rgb(10, 186, 209);
    --progressBarThreePrim:  rgb(59, 138, 150);
    --progressBarFour: rgb(128, 6, 98);
    --progressBarFive: rgb(104, 247, 209);
    --progressBarSix: rgb(226, 250, 10);
    --serviceBoxOne: #6C6CE5;
    --serviceShadowOne: rgb(108 108 229 / 50%);
    --serviceBoxTwo: rgb(249, 215, 76);
    --serviceShadowTwo: rgb(249 215 76 / 50%);
    --serviceBoxThree: rgb(249, 123, 139);
    --serviceShadowThree: rgb(249 123 139 / 50%);


}

body.light {
    --mainBgColor: rgb(133, 193, 241);
    --mainTextColor: rgb(57, 57, 59);
    --primaryColor: rgb(8, 114, 130);
    --copyNavigationColor: rgb(6, 84, 140);
    --secondaryColor: rgb(11, 162, 186);
    --aboutBoxBGColor: rgb(184, 216, 245);
    --progressBarBGColor: rgb(242, 242, 242);
    --mainNAVBgColor: rgb(184, 205, 240);
    --progressBarOne: rgb(7, 79, 123);
    --progressBarTwo: rgb(45, 228, 231);
    --progressBarThree:  rgb(10, 186, 209);
    --progressBarThreePrim:  rgb(59, 138, 150);
    --progressBarFour: rgb(47, 44, 44);
    --progressBarFive: rgb(236, 159, 220); 
    --progressBarSix: rgb(81, 238, 175);
    --serviceBoxOne: rgb(50, 159, 189);
    --serviceShadowOne: rgba(6, 91, 115, 0.408);
    --serviceBoxTwo: rgb(245, 221, 125);
    --serviceShadowTwo: rgba(186, 150, 8, 0.557);
    --serviceBoxThree: rgb(236, 159, 220);
    --serviceShadowThree: rgba(240, 35, 199, 0.646);
}



/* *********************************************
Baaase
************************** */

body {
    font-family: var(--mainFontFamily);
    background: var(--mainBgColor);
    color: var(--mainTextColor);
    overflow-x: hidden;

}

body.dark .light {
    display: none;
}

body.light .dark {
    display: none;
}

main {
    padding: 0 0 0 300px;
}

/* ****************************
*********media queries*********
******************************* */

@media(max-width:1470px) {
    main {
        padding: 0;
    }
}


a {
    text-decoration: none;
    color: var(--mainTextColor);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* arrow */
.back-to-top {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    background: var(--primaryColor);
    z-index: -299;
    visibility: hidden;
    opacity: 0;
    transition: 300ms;

}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.back-to-top main {
    padding: 0 0 0 300px;
}

.switcher {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 70px;
    align-items: center;
    justify-content: center;
    position: fixed;
    display: flex;
    background: var(--aboutBoxBGColor);
    z-index: 30000;
}

@media(max-width: 500px) {
    .switcher{
        bottom: 70px;
        right: 20px;
    }
} 

body.dark .switcher .fa-moon {
    display: none;

}

body.light .switcher .fa-sun {
    display: none;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;

}

/* *********************************************
headers
************************** */

h2.global {
    font-size: clamp(1.625rem, 1.3897rem + 1.1765vw, 2.25rem);
    margin: 0 0 60px 0;
    position: relative;
    /* line-height: 1.2; */


}

h2 img.filter {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
    position: absolute;
    top: -18px;
    left: -18px;
    z-index: -3;
}

h2.global::before {
    content: "";
    position: absolute;
    top: -18px;
    left: -18px;
    display: block;
    width: 37px;
    height: 37px;
    background-image: url('../img/dots-bg-light.svg');


}

@media (max-width:800px) {
    h2.global {
        text-align: center;
    }

    h2.global::before {
        display: none;
    }

}



/* *********************************************
BUTTONS
************************** */
.btn {
    background: var(--secondaryColor);
    font-size: 16px;
    font-weight: 700;
    padding: 12px 32px;
    border-radius: 30px;
    transition: 300ms;
    display: inline-block;
}

.btn:hover {
    background: var(--mainTextColor);
    color: var(--secondaryColor);
}


/* *********************************************
NAWIGACJA
************************** */
.navigation {
    width: 300px;
    position: fixed;
    height: 100%;
    border-right: 1px solid rgba(248, 243, 243, 0.1);
    top: 0;
    left: 0;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;


}

.navigation .logo {
    margin: 0 0 100px 0;
}

.navigation .menu li {
    margin: 0 0 20px 0;
}

.navigation .menu li {
    font-weight: 700;
    transition: 300ms;
}

.navigation .menu li a i {
    color: var(--primaryColor);
    width: 40px;

}

.navigation .menu li a:hover {
    color: var(--primaryColor);
}

.navigation .copy {
    color: var(--copyNavigationColor);
    font-size: 14px;
    margin: auto 0 0 0;
}

.hamburger {
    width: 40px;
    height: 24px;
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    display: none;
}

.hamburger .dash {
    height: 4px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    background: var(--primaryColor);
    left: 0;
}

.hamburger .dash:nth-of-type(1) {
    top: 0;

}

.hamburger .dash:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}

.hamburger .dash:nth-of-type(3) {
    bottom: 0;
}

.hamburger.active .dash:nth-of-type(2) {
    display: none;
}

.hamburger.active .dash:nth-of-type(1) {
    transform: rotate(45deg);
    top: 10px;
    left: 0;

}

.hamburger.active .dash:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 10px;
    left: 0;

}




/* ****************************
*********media queries*********
******************************* */

@media(max-width:1470px) {
    .navigation {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: fixed;
        height: auto;
        flex-direction: row;
        padding: 15px 25px;
        background: var(--mainNAVBgColor);
        align-items: center;
        z-index: 100;
    }


    .navigation .copy {
        display: none;

    }

    .navigation .menu {
        display: flex;
    }

    .navigation .menu li {
        margin: 0 0 0 15px;
    }

    .navigation .menu li i {
        display: none;
    }

    .navigation .menu li:first-child {
        margin: 0;
    }

    .navigation .logo {
        margin: 0;
    }
}

@media(max-width:800px) {
    .navigation .menu {
        display: none;
    }

    .navigation .hamburger {
        display: block;
    }

    .navigation.menu-open .menu {
        display: flex;
        position: fixed;
        z-index: 80;
        width: 100%;
        height: calc(100% - 67px);
        top: 67px;
        left: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px 0;
        background: var(--mainNAVBgColor);


    }

    .navigation.menu-open .menu li {
        margin: 0 0 15px;
    }

    .navigation.menu-open .menu li:last-child {
        margin: 0;
    }

}



/*********************************
 HOME
 ********************************** */

.home {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 100px 0;

}

.home .parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.parallax .layer {
    position: absolute;
}

.parallax .p1 {
    left: 10%;
    top: 10%;
}

.parallax .p2 {
    left: 25%;
    top: 30%;
}

.parallax .p3 {
    left: 15%;
    bottom: 30%;
}

.parallax .p4 {
    left: 10%;
    bottom: 10%;
}

.parallax .p5 {
    left: 45%;
    top: 10%;
}

.parallax .p6 {
    left: 40%;
    bottom: 10%;
}

.parallax .p7 {
    top: 20%;
    right: 30%;
}

.parallax .p8 {
    right: 30%;
    bottom: 20%;
}

.parallax .p9 {
    right: 10%;
    top: 10%;
}

.parallax .p10 {
    top: 45%;
    right: 20%;
}

.parallax .p11 {
    bottom: 10%;
    right: 10%;
}




.home .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 0 30px 0;
}

.home h1 {
    margin: 0 0 20px 0;
    font-size: clamp(1.25rem, 0.8735rem + 1.8824vw, 2.25rem);
}

.home h2 {
    font-size: 16px;
    margin: 0 0 30px 0;
    font-weight: 400;
}

.home .social-links {
    display: flex;
    margin: 0 0 30px 0;

}



.home .social-links li {
    margin: 0 20px 0 0;
}

.home .social-links li:last-child {
    margin: 0;
}

.home .social-links li a {
    font-size: 21px;
    transition: 300ms;

}

.home .social-links li a:hover {
    color: var(--primaryColor);

}

.home .scroll {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.home .scroll span {
    font-size: 12px;
}

.home .scroll .mouse {
    width: 20px;
    height: 26px;
    border-radius: 16px;
    border: 2px solid var(--mainTextColor);
    margin: 10px auto 0 auto;
    position: relative;

}

.home .scroll .mouse .wheel {
    width: 4px;
    height: 4px;
    background: var(--mainTextColor);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: jump 1s linear infinite;

}

@media (max-width:800px) {
    .home .scroll {
        display: none;
    }
}

@keyframes jump {
    0% {
        top: 15%;
    }

    15% {

        top: 50%;
    }

    50% {
        top: 50%;

    }

    100% {
        top: 15%;
    }
}

.hire-open {
    background-color: var(--aboutBoxBGColor); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 120px;
    border-radius: 25px;
    margin-top: 30px;
    display: none;
} 

.hire-open img {
    width: 50%;
}

.hire-open h3 {
    font-size: 30px;
    text-align: justify;
} 
 
.close-hire-btn {
    border: none;
    color: var(--mainTextColor);
    margin: 20px 0 20px 0;
}

@media (max-width:910px) {
  .hire-open {
    padding: 20px 50px;
  }  
}

@media (max-width:770px) {
    .hire-open {
      padding: 20px 15px;
      margin: 30px 15px 0 15px;
    } 
    
    .hire-open h3 {
        font-size: 20px;
    } 
  }
/**********************************
********************** about me sekcja **********
************** */

.about {
    padding: 100px 0;
}

.about .about-top {
    display: flex;
    margin: 0 -15px 50px -15px;
    flex-wrap: wrap;

}

.about .about-top .about-photo {
    width: 25%;
    padding: 0 15px;
    text-align: center;

}

.about .about-top .about-photo .kaludia {
    border-radius: 50%;
    width: 50%;

}

.about .about-top .about-text {
    width: 75%;
    padding: 0 15px;
}



.about .about-top .about-text .about-text-bg {
    padding: 30px;
    background: var(--aboutBoxBGColor);
    box-shadow: 0px 5px 20px 0px rgb(255 255 255 / 1%);
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.about .about-top .about-text .about-text-bg::before {
    content: "";
    width: 0;
    height: 0;
    left: -20px;
    top: 10%;
    border-style: solid;
    border-width: 10px 20px 10px 0;
    border-color: transparent var(--aboutBoxBGColor) transparent transparent;
    position: absolute;
}

.about .about-top .about-text .about-text-bg .description {
    width: 50%;
    padding: 0 15px;
    text-align: justify;
}

.about .about-top .about-text .about-text-bg .skills {
    width: 50%;
    padding: 0 15px;
}

.about .about-top .about-text .about-text-bg .description p {
    margin: 0 0 20px 0;
    line-height: 1.5;
}

/* *****media queries********* */

@media (max-width: 1000px) {
    .about .about-top .about-photo {
        width: 100%;
        margin: 0 0 30px 0;

    }

    .about .about-top .about-text {
        width: 100%;

    }

    .about .about-top .about-text .about-text-bg::before {
        left: 50%;
        top: -20px;
        transform: rotate(90deg) translateY(50%);
    }


}

@media (max-width:700px) {
    .about .about-top .about-text .about-text-bg{
        margin: 15px;
    }
    .about .about-top .about-text .about-text-bg .description {
        width: 100%;
        order: 2;
        text-align: center;

    }

    .about .about-top .about-text .about-text-bg .skills {
        width: 100%;
        order: 1;
        margin: 0 0 30px 0;
    }

}

@media (max-width:500px) {
    .about .about-top .about-text .about-text-bg {
        padding: 15px 0;
    }

}


.progress {
    margin: 0 0 20px 0;
}

.progress .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 6px 0;
}

.progress .info span:first-of-type {
    font-weight: 500;

}

.progress .info span:last-of-type {
    font-size: 14px;
}

.progress .bar {
    background: var(--progressBarBGColor);
    border-radius: 15px;
    height: 7px;
    position: relative;
    overflow: hidden;

}

.progress .bar span {
    display: block;
    height: 7px;
    border-radius: 15px;
}

.progress .bar .react {
    width: 30%;
    height: 7px;
    background: var(--mainTextColor);
    
    position: absolute;
    transform: translateX(-10%);
    animation: fill-bar 4s linear infinite;
}

@keyframes fill-bar {
    10% {
        width: 10%;
    }

    25% {
        width: 25%;
    }

    50% {
        width: 50%;
    }

    75% {
        width: 75%;
    }

} 


/********************************** 
About me bottom*************************
*************************** */
.about-me {
    display: flex;
    margin: 20px 0px 70px 0; 
    flex-wrap: wrap;
    margin-bottom: 150px;
    justify-content: space-around;

}

.about-me .about-me-caption {
    width: 25%;
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

/* *****media queries********* */

@media (max-width:700px) {
    .about-me .about-me-caption {
        width: 50%;
        margin: 0 0 30px 0;
    }
}

@media (max-width:600px) {
    .about-me .about-me-caption {
        width: 100%;
        justify-content: center; 
        
    }

  
}

.about-me .about-me-caption .about-icon {
    font-size: clamp(1.25rem, 1.0147rem + 1.1765vw, 1.875rem);
    margin: 0 15px 0 0;
}

.about-me .about-me-caption .about-text {
    width: 40%; 
}

.about-me .about-me-caption .about-text .about-text-nr {
    margin: 0 0 15px 0;
    font-size: clamp(1.25rem, 1.0147rem + 1.1765vw, 1.875rem);
    font-weight: 700;
}

.about-me .about-me-caption .about-text .about-text-subject {
    margin: 0;
    

}



/* ******SERVICE BOX******** */

.row {
    display: flex;
    position: relative;
    margin-bottom: 70px;

}

.row .service-box {
    width: calc(100%/3);
    padding: 30px;
    border-radius: 20px;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 300ms;

}
 

/* *****media queries********* */

@media (max-width:760px) {
    .row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .row .service-box {
        width: 100%;
        margin: 15px 100px;

    }

}

@media (max-width:550px) {
    
    .row .service-box {
        width: 100%;
        margin: 15px 30px;

    }

}
@media (max-width:380px) {
    
    .row .service-box {
        width: 100%;
        margin: 15px 10px;

    }

    .row .service-box p {
        font-size: 13px;
    }
    .row .service-box h3 {
        font-size: 15px;
    }
}

.row .service-box:hover {
    transform: translateY(-5%);
}


.row .service-box img {
    max-width: 100%;
    margin-bottom: 22px;
}

.row .service-box .last {
    max-width: 28%;
}

.row .service-box p {
    text-align: center;
}

/* ******************Education and work*************** */



.wrapper-exp {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 60px;

    margin-right: -15px;
    margin-left: -15px;

}

.col1 {
    width: 100%;
    margin: 10px;
    background-color: var(--aboutBoxBGColor);
    padding: 20px;
    position: relative;
    border-radius: 25px;
} 

.edu-container,
.job-container {
    padding: 30px 30px 30px 0px;
    background-color: var(--aboutBoxBGColor);
    overflow: hidden;
    position: relative;


}

.edu,
.job {
    position: absolute;
    padding: 0 0 0 70px;

}

.jb3 {
    text-align: justify;
}

.ed1,
.ed2,
.ed3,
.jb1,
.jb2,
.jb3 {
    bottom: -330px;
    visibility: hidden;
    transition-timing-function: ease-in;
    transition: 1200ms;
}

.line {
    position: absolute;
    width: 1px;
    background-color: var(--secondaryColor);
    top: 30px;
    bottom: 30px;
    left: 34px;
}

.edu,
.job {
    position: relative;
}

.edu ::after {
    content: '\e019';
    font-family: "simple-line-icons";
    font-size: 24px;
    color: var(--secondaryColor);
    position: absolute;
    left: 22px;
    top: 0;
    z-index: 1;
}

.job ::after {
    content: "\e04b";
    font-family: "simple-line-icons";
    font-size: 24px;
    color: var(--secondaryColor);
    position: absolute;
    left: 22px;
    top: 0;
    z-index: 1;
}

/* *****media queries********* */

@media (max-width:800px) {
    .wrapper-exp {
        flex-wrap: wrap;
        margin-right: 15px;
        margin-left: 15px;
    
    }

}

@media (max-width:400px) {
    .wrapper-exp {
    
        margin-right: 5px;
        margin-left: 5px;
    
    }
    .col1 {
        padding: 10px;
    }
    .edu, .job {
        font-size: 12px;
    }

}

/* **********GitHub************ */

.row-latest {
    display: flex;
    margin-bottom: 70px;
}

.row-latest .blog {
    width: calc(100%/3);
    margin: 0 15px;
    position: relative;
    transition: 300ms;
}

/* *****media queries********* */

@media (max-width:760px) {
    .row-latest {
        flex-wrap: wrap;
        justify-content: center;

    }

    .row-latest .blog {
        width: 100%;
        margin: 15px 100px;


    }

}

@media (max-width:550px) {
    .row-latest .blog{
        margin: 15px 10px;
    }
}
 
.row-latest .blog:hover {
    transform: translateY(-5%);
}

.row-latest .blog .picture {
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


}

.row-latest .blog .picture:hover img {
    transform: scale(1.2);
}

.row-latest .blog .picture img {
    max-width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: block;
    transition: 500ms;

}

.row-latest .blog .picture .category {
    background: var(--secondaryColor);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #FFF;
    font-size: 14px;
    padding: 5.5px 8px;
    position: absolute;
    left: 20px;
    top: 0;
    z-index: 1;
}

.row-latest .blog .detail {
    background: var(--aboutBoxBGColor);
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.row-latest .blog .detail a {
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin: 0 auto;
    transition: 300ms;
}

.row-latest .blog .detail a:hover {
    color: var(--secondaryColor);
}

.row-latest .blog .detail .data {
    font-size: 14px;
    color: #8B88B1;
    margin: 10px 9.6px 0 0;
}

/* ******************************
*********FORM********************
********************************* */


.row-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

}

.row-form .formularz {
    width: calc(100%/3*2);
}

.row-form .contact-info {

    /* background: url(../img/map-light.png); */
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    padding: 0 15px;
    width: calc(100%/3);
}

body.light .row-form .contact-info img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
    position: absolute;
}

/******************************************
*************@mediaqueries*****************
*******************************************/
@media (max-width:1030px) {
    body.light .row-form .contact-info img {
        display: none;
    }

    body.dark .row-form .contact-info img {
        display: none;
    }
}

@media (max-width: 760px) {
    .row-form .formularz {
        width: 100%;
        text-align: center;
    }

    .form-whole .row-form .formularz form .row {

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;



    }

    .form-whole .row-form .formularz form .row .form-control0 {
        width: 100%;
        margin-right: 0px;


    }

    .form-whole .row-form .formularz form .row .form-control1 {
        width: 100%;
        margin-left: 0px;
    }
}

@media (max-width: 550px) {
    .form-whole h2 {
    margin-bottom: 20px;
    }
  
}

.row-form .contact-info h3 {
    font-size: 23px;
    font-weight: 700;

}

.row-form .contact-info p a {
    transition: 300ms;
    color: var(--secondaryColor);
}

.form-whole .row-form .formularz form .row {
    display: flex;
    margin-bottom: 30px;
    padding: 0 15px;
    width: 100%;
    column-gap: 15px;


}

.form-whole .row-form .formularz form .row .form-control0 {
    display: block;
    border-radius: 30px;
    width: 100%;
    height: 60px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #454360;
    background-color: #FFF;
    background-image: none;
    border: 0;
    outline: none;


}

.form-whole .row-form .formularz form .row .form-control1 {
    display: block;
    border-radius: 30px;
    width: 100%;
    height: 60px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #454360;
    background-color: #FFF;
    background-image: none;
    border: 0;
    outline: none;


}

.form-whole .row-form .formularz form .error {
    margin-bottom: 30px;
    padding: 0 15px;

}

.form-whole .row-form .formularz form .error .form-control2 {
    display: block;
    border-radius: 30px;
    width: 100%;
    height: 60px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #454360;
    background-color: #FFF;
    background-image: none;
    border: 0;
    outline: none;
}

.form-whole .row-form .formularz form .error .form-control3 {
    display: block;
    border-radius: 30px;
    width: 100%;
    min-height: 148px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #454360;
    background-color: #FFF;
    background-image: none;
    border: 0;
    outline: none;
    resize: vertical;
}

.form-whole .row-form .formularz form button {
    background: var(--secondaryColor);
    font-size: 16px;
    font-weight: 700;
    padding: 12px 32px;
    border-radius: 30px;
    transition: 300ms;
    display: inline-block;
    border: none;
    color: var(--mainTextColor);
    margin: 0 0 0 15px;
}


.form-whole .row-form .formularz form button:hover {
    background: var(--mainTextColor);
    color: var(--secondaryColor);
}